.imgfix
{
background-color: url('../img/b.jpg')
}
body
{
overflow-x: hidden;
background: url('../img/b2.jpg')center fixed;
background-repeat: no-repeat;

}
.head
{
	font-size: 30px;
	float:right;
	margin:auto;
	position: fixed;
	}
.img
{
	height: 200px;
}
.item
{
	display: inline;
	position: absolute;
	right: 10%;
	bottom: 5%;
	list-style-type: none;

}

.items
{
	position: absolute;
	right: 20%;
	bottom:5%;
	list-style-type: none;
	
}
ul li a
{
	text-decoration: none;

}
a:hover
{
	color:red;
}
.hero
{
	margin-top: 150px;
}
div img
{
	width: 100%;
	height:400px;
}
.col1
{
	margin-top: 30px;
}
.img1 
{
	width: 300px;
	height: 200px;
}
p
{
	width: 300px;
	color: #dee053;
	
	margin-top: auto;
	text-indent: 10px;
	font-size: 18px;
}
.para
{
	color: white;
	font-family: cursive;
}


}
.foot img
{
	
	display: inline;
	
}
.a1
{
	width:50px;
	height:50px;
	padding-left: 20px;

}
.fa
{
	color: white;
}